<h1>Sign up confirmation</h1>
<h2><%= @greeting %></h2>
Your email <%= @email %> has been accepted.
Please click on the link to confirm your email and activate your project:
<%= link_to "Activate!", @link %>