<h1>Sign up confirmation</h1>
<h2><%= @greeting %></h2>
<h3>Your email <%= @email %> has been accepted.
Please click on the link to confirm your email and activate your project:
<%= link_to "Activate!", @link %></h3>
<h3>We are very happy to have you as a user, enjoy your experience!</h3>
<img src="http://toyu.herokuapp.com/assets/tiyu_background-51b9c7124e2b06836b0bfa5b97a0abb9.png" alt="toyu_logo" width="200" />