<section id="main-content">
    <section class="wrapper">
        <div class="row centered">
            <h1>Use Cases</h1>
            <h3>Create the use case specification</h3>
            <%= render "form_new_use_case" %>
        </div>
        <div class="row">
        <%= render "list_use_cases" %>
        </div>
    </section>
</section>