<section id="main-content">
    <section class="wrapper">
        <div class="row centered">
            <h1>Use Cases</h1>
            <h3>Create the use case specification</h3>
            <%= render "form_new_use_case" %>
        </div>
        <div class="row">
        <%= render "list_use_cases" %>
        </div>
    </section>
</section>
<div id="help-sidebar">
  <div>
    <ul>
        <li>A use case is a particular feature of your site.</li><br />
        <li>They should be very descriptive, try to write them clear.</li><br />
        <li>It is a small "story" of the interaction between the user and your site.</li><br />
        <li>Try to be detailed in every step.</li><br />
    </ul>
  </div>
</div>