<section id="main-content">
    <section class="wrapper">
        <div class="row centered">
            <h1>Use Cases</h1>
            <h3>***description goes here</h3>
            <%= render "form_new_use_case.html.erb" %>
        </div>
        <div class="row">
        <%= render "list_use_cases.html.erb" %>
        </div>
    </section>
</section>