<section id="main-content">
  <section class="wrapper">
    <div class="row centered">
      <h1>Conduct Task Analysis</h1>
      <h3>Start the analysis.</h3>
    </div>
    <div class="row">
      <%= render "form_edit_analysis" %>
    </div>
  </section>
</section>
<div id="help-sidebar">
  <div>
    <ul>
    	<li>This is a test where the user tries a prototype of the application</li><br />
    	<li>The evaluator tells the user the tasks he has to do.</li><br />
    	<li>The writer observes and write in the test field what the users is doing.</li><br />
    	<li>Before starting, press the play button to count the seconds. The test shouldn't be longer than 30 minutes.</li><br />
    	<li>When it's finished, press the stop button. The test will be saved automatically.</li><br />
    </ul>
  </div>
</div>
<%= javascript_include_tag 'analyses/analyses.js' %>