<section id="main-content">
  <section class="wrapper">
    <div class="row centered">
      <h1>Conduct Task Analysis</h1>
      <h3>Start the analysis.</h3>
    </div>
    <div class="row">
      <%= render "form_edit_analysis" %>
    </div>
  </section>
</section>
<%= javascript_include_tag 'analyses/analyses.js' %>