<div class="row">
	<div class="col-md-9 centered">
		<%= bootstrap_form_for(@card_image, inline_errors: true, :html => {:class => 'form-panel'}) do |f| %>
		  <div class="login-wrap">
			  <%= f.file_field :image %>
			  <button class="btn btn-theme btn-block" type="submit">Save</button>
		  </div>
		<% end %>
	</div>
</div>