<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="centered">
          <h1>Card Sorting Gallery</h1>
          <h3></h3>
      </div>
      <div class="col-lg-4">
         <%= render "form_upload_image" %>
      </div>
    </div>
    <div class="row">
      <%= render "list_images" %>
    </div>
  </section>
</section>
<div id="help-sidebar">
  <div>
    <ul>
      <li>Upload the test results of your card sorting test.</li><br />
      <li>You can upload six images.</li><br />
      <li>Compare them, and see how your future users would like to find the information of your site</li><br />
    </ul>
  </div>
</div>
