<section id="main-content">
          <section class="wrapper">
              <div class="row">
                  <div class="col-lg-9 main-chart">
                  <h1>Welcome to TIYU</h1>
					           <h3>Here you have a short manual about how to use TIYU. It is very simple, and it will guide you throught the different tools you can use for making your project easier to use for your future ursers</h3>
                  </div>
              </div>
          </section>
      </section>