<section id="main-content">
  <section class="wrapper">
      <div class="row centered">
            <h1>User requirements</h1>
             <h3>Describe the requirements for your users</h3>
            <%= render "form_new_user_requirement" %>
      </div>
      <div class="row">
        <%= render "list_user_requirements" %>
      </div>
  </section>
</section>
<div id="help-sidebar">
  <div>
    <ul>
      <li>A user requirement is something that the user wants to do in your website.</li><br />
      <li>Identify your users requirements.</li><br />
    </ul>
  </div>
</div>