<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="centered">
        <h1>Personas</h1>
        <h3>In your project you can include two Persona specification.</h3>
      </div>
      <div class="col-lg-9 main-chart">
        <% if current_project.personas.count < 2 %>
          <button class="btn btn-default btn-success" id="btn-persona">New Persona +</button>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= render "show_personas" %>
    </div>
    <div id="new-persona">
      <%= render "form_new_persona" %>
    </div> 
  </section>
</section>
<div id="help-sidebar">
  <div>
    <ul>
      <li>Each persona is a representation of your target audience.</li><br />
      <li>It is a 'fake' user of your site, which will help you to focus your project on your audience.</li><br />
      <li>Make good descriptions, uplad a picture, try to think like a user and add your goals and challenges.</li><br />
    </ul>
  </div>
</div>
<%= javascript_include_tag 'personas/personas.js' %>