<section id="main-content">
  <section class="wrapper">
      <div class="row">
          <div class="col-lg-12 centered">
            <h1>Scenario</h1>
  	        <h3>You can create one scenario for each Persona you have.</h3>
          </div>
      </div>
      <div class="row">
        <%= render "form_new_scenario" %>
      </div>
  </section>
</section>