<section id="main-content">
  <section class="wrapper">
      <div class="row">
          <div class="col-lg-12 centered">
            <h1>Scenario</h1>
  	        <h3>You can create one scenario for each Persona you have.</h3>
          </div>
      </div>
      <div class="row">
        <%= render "form_new_scenario" %>
      </div>
  </section>
</section>
<div id="help-sidebar">
  <div>
    <ul>
      <li>A use scenario is a story or narrative, a thought experiment that is used to help you explore the set of tasks and interactions required for your design. A good use scenario does a number of things:</li><br />
      <li>Helps you construct the sequence of events that are necessary to address in your user interface.</li><br />
      <li>Describes some of the interaction, with enough detail to make it compelling, but not so much detail as to be overwhelming.</li><br />
      <li>Can be sketchy, as long as it provokes ideas and discussion.</li><br />
    </ul>
  </div>
</div>