<div id="scenarios">
	<h2>Scenarios</h2>
	<% @scenarios.each_with_index do |scenario, index| %>
		<h3>Scenario <%= index+1 %></h3>
		</h4>Description: <%= scenario.description %></h4>
	<% end %>
</div>