<%= bootstrap_form_for(current_project.sorting_test, inline_errors: false, :method => :put, :html => {:class => 'form-panel'}) do |f| %>
			 <%= link_to "Link", confirm_test_path(:url => current_project.sorting_test.url, :id => current_project.sorting_test.id), :target => "_blank", 'data-no-turbolink' => true  %>
              <%= f.text_field :password %>
              <button class="btn btn-theme btn-block" type="submit">Save Password</button>
<% end %>