<!-- <div class="col-md-3">
	<%= #bootstrap_form_for(Card.new, inline_errors: true, :html => {:class => 'form-panel'}) do |f| %>
		<h4>New card</h4>
		<div class="login-wrap">
			<%= #f.text_field :name %>
			<%= #f.select(:color, ['Blue','Red','Yellow','Orange','Green','Purple']) %>
			<button class="btn btn-theme btn-block" type="submit">Save</button>
		</div>
	<%# end %>
</div>
-->