<%= javascript_include_tag 'jscolor/jscolor.js' %>
<section id="main-content">
  <section class="wrapper">
      <div class="row centered">
          <div class="col-lg-12">
            <h1>Card Sorting</h1>
		        <h3>Test your users using card sorting.</h3>
          </div>
      </div>
      <div class="row">
      	<%= render "form_new_card" %>
      </div>
  </section>
</section>