<div class="top-menu" id="logout-button">
      <ul class="nav pull-right top-menu">
        <li><%= link_to "Log out", log_out_path, :method => "delete" ,:class => "logout", 'data-no-turbolink' => true , :remote => false %></li>
      </ul>
</div>